
@{
    ViewData["Title"] = "UpdateOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input style="margin-bottom:20px" id="AddOrderId" class="w-100" placeholder="Güncellencek Id" />
<input style="margin-bottom:20px" id="AddOrderCustomerId" class="w-100" placeholder="Customer Id" />
<input style="margin-bottom:20px" id="AddOrderEmployeeId" class="w-100" placeholder="Employee Id" />
<input style="margin-bottom:20px" id="AddOrderOrderDate" class="w-100" placeholder="Order Date" />
<input style="margin-bottom:20px" id="AddOrderRequiredDate" class="w-100" placeholder="Requried Date" />
<input style="margin-bottom:20px" id="AddOrderShippedDate" class="w-100" placeholder="Shipped Date" />
<input style="margin-bottom:20px" id="AddOrderShipVia" class="w-100" placeholder="Ship Via" />
<input style="margin-bottom:20px" id="AddOrderFreight" class="w-100" placeholder="Freight" />
<input style="margin-bottom:20px" id="AddOrderShipName" class="w-100" placeholder="Ship Name" />
<button class="w-100" onclick="UpdateOrder()">Order Güncelle</button>

