
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input style="margin-bottom:20px" id="AddCategoryId" class="w-100" placeholder="Category Id" />
<input style="margin-bottom:20px" id="AddCategoryDescription" class="w-100" placeholder="Description" />
<input style="margin-bottom:20px" id="AddCategoryName" class="w-100" placeholder="Name" />
<button class="w-100" onclick="AddCategory()">Category Ekle</button>

