@using ModelLayer.Entities
@using ModelLayer.CategoriesEntities
@model Category
@{
    ViewData["Title"] = "GetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>Id : @Model.Id</p>
<p>Description : @Model.Description</p>
<p>Name : @Model.Name</p>

