
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input style="margin-bottom:20px" id="AddCategoryId" class="w-100" placeholder="Güncellencek Category Id" />
<input style="margin-bottom:20px" id="AddCategoryDescription" class="w-100" placeholder="Description" />
<input style="margin-bottom:20px" id="AddCategoryName" class="w-100" placeholder="Name" />
<button class="w-100" onclick="UpdateCategory()">Category Güncelle</button>


