
@{
    ViewData["Title"] = "AddShipper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input style="margin-bottom:20px" id="AddShipperId" class="w-100" placeholder="Id" />
<input style="margin-bottom:20px" id="AddShipperCompanyName" class="w-100" placeholder="Company Name" />
<input style="margin-bottom:20px" id="AddShipperPhone" class="w-100" placeholder="Phone" />
<button class="w-100" onclick="AddEmployee()">Shipper Ekle</button>

