@using ModelLayer.Entities
@using ModelLayer.ShippersEntities
@model Shippers
@{
    ViewData["Title"] = "GetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Id : @Model.Id</p>
<p>Company Name : @Model.CompanyName</p>
<p>Phone : @Model.Phone</p>

