
@{
    ViewData["Title"] = "UpdateSupplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input style="margin-bottom:20px" id="AddSupplierId" class="w-100" placeholder="Güncellencek Id" />
<input style="margin-bottom:20px" id="AddSupplierCompanyName" class="w-100" placeholder="Company Name" />
<input style="margin-bottom:20px" id="AddSupplierContactName" class="w-100" placeholder="Contact Name" />
<input style="margin-bottom:20px" id="AddSupplierContactTitle" class="w-100" placeholder="Contact Title" />
<button class="w-100" onclick="UpdateSupplier()">Supplier Güncelle</button>

