
@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input style="margin-bottom:20px" id="AddEmployeeId" class="w-100" placeholder="Güncellencek Id" />
<input style="margin-bottom:20px" id="AddEmployeeLastName" class="w-100" placeholder="Last Name" />
<input style="margin-bottom:20px" id="AddEmployeeFirstName" class="w-100" placeholder="First Name" />
<input style="margin-bottom:20px" id="AddEmployeeTitle" class="w-100" placeholder="Title" />
<input style="margin-bottom:20px" id="AddEmployeeTitleOfCourtesy" class="w-100" placeholder="Title Of Courtesy" />
<input style="margin-bottom:20px" id="AddEmployeeBirthDate" class="w-100" placeholder="Birt hDate" />
<input style="margin-bottom:20px" id="AddEmployeeHireDate" class="w-100" placeholder="Hire Date" />
<input style="margin-bottom:20px" id="AddEmployeeNotes" class="w-100" placeholder="Notes" />
<button class="w-100" onclick="UpdateEmployee()">Employee Güncelle</button>

